build/
install/
doc/doxygen/
io/
obj/
bin/
*~
*.[oa]
\#*\#
Debug
.cproject
.project
.externalToolBuilders
*.png
*.pdf
*.eps
*.pyc
*.bak
prototype_generation/Main
.DS_Store
test/cmstestdata/cms2015.root
.vscode
*.kdev4
CMakeLists.txt.user
